<div class="card crear-cita-card">
  <div class="card-body">
    <h1 class="card-title text-center">Agendar Nueva Cita 💈</h1>
    <form (ngSubmit)="crearCita()" class="container mt-4">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="fecha" class="form-label">Fecha:</label>
          <input type="date" id="fecha" class="form-control" [(ngModel)]="fecha" name="fecha" required>
        </div>

        <div class="col-md-6 mb-3">
          <label for="hora" class="form-label">Hora:</label>
          <input type="time" id="hora" class="form-control" [(ngModel)]="hora" name="hora" required>
        </div>
      </div>

      <!-- <div class="mb-3">
        <label for="nota" class="form-label">Nota:</label>
        <textarea id="nota" class="form-control" rows="3" [(ngModel)]="nota" name="nota"></textarea>
      </div> -->

      <div class="mb-3">
        <label class="form-label">Servicios:</label>
        <div *ngFor="let servicio of serviciosDisponibles">
          <input type="checkbox" [value]="servicio" (change)="toggleServicio(servicio)"> {{ servicio }}
        </div>
      </div>

      <div class="mb-3">
        <label for="barbero" class="form-label">Selecciona un barbero:</label>
        <select id="barbero" class="form-select" [(ngModel)]="idBarbero" name="barbero" required>
          <option *ngFor="let barbero of barberos" [value]="barbero.idUsuario">{{ barbero.nombre }} {{ barbero.apellido }}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary w-100">Crear Cita</button>

      <p *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</p>
    </form>
  </div>
</div>
