<h2 class="mb-4 text-center text-primary font-weight-bold animated fadeIn">Lista de Usuarios</h2>

<!-- Botones para filtrar usuarios activos, inactivos y todos -->
<div class="mb-3">
  <button mat-raised-button color="primary" (click)="filtrarUsuarios('activos')">Activos</button>
  <button mat-raised-button color="warn" (click)="filtrarUsuarios('inactivos')">Inactivos</button>
  <button mat-raised-button (click)="filtrarUsuarios('todos')">Todos</button>
  <button mat-raised-button color="accent" (click)="abrirDialogoAgregarUsuario()">Agregar Usuario</button>
  <button mat-raised-button color="warn" routerLink="/dashboard">Regresar Dashboard</button>
</div>

<!-- Tabla de usuarios -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tipo de Documento</th>
        <th>Número de Documento</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Celular</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Activo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.idUsuario }}</td>
        <td>{{ usuario.tipoDeDocumento }}</td>
        <td>{{ usuario.numeroDeDocumento }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.celular }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.rol }}</td>
        <td>{{ usuario.activo ? 'Sí' : 'No' }}</td>
        <td>
          <button mat-button color="primary" (click)="editarUsuario(usuario)">Editar</button>
          <button *ngIf="usuario.activo" mat-button color="warn" (click)="eliminarUsuario(usuario.idUsuario)">Eliminar</button>
          <button *ngIf="!usuario.activo" mat-button color="accent" (click)="recuperarUsuario(usuario.idUsuario)">Recuperar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
